body{
	margin: 0;
	padding: 0;
	
}

#banner{
	width: 100%;
	color: #ccc;

	/*background-color: #006699;*/
	
}
#cuerpo{
	width: 100%;
	height: 85%;

}
#menu{
	width: 100%;
	
}
#cabecera {
                background: url(img/) no-repeat;
                border-top: 1px solid #fff;
                background-size: cover;
                -moz-background-size: cover;
                -webkit-background-size: cover;
                -o-background-size: cover;
            }


 #cabecera, #cabecera h1, #cabecera a, #cabecera a:hover, #cabecera small {
    color: #ccc;                                
 }

 #submenu1{
 	background-color: #0150A0; 
 	height: 60px; 
    border-style: solid;
    border-color: #fff;
 }
  #submenu2{
    background-color: #006699; 
    height: 60px; 
    border-style: solid;
    border-color: #fff;
 }
  #submenu3{
    background-color: #009999; 
    height: 60px; 
    border-style: solid;
    border-color: #fff;
 }
  #submenu4{
    background-color: #339966; 
    height: 60px; 
    border-style: solid;
    border-color: #fff;
 }

 #texto_submenu{
    text-align: center; 
    padding-top: 4%; 
    color: #fff;
 }
 #subtitulos{
    padding-top:8%;
    
 }

 #titulo_analisis{
    font-family: "Gill Sans MT","Segoe UI";
 }
    